%hgroup
  %h2 DETAIL PAGE HEADER TITLE (I.E, “CHEFSTEPS”)
  %h5 Detailed page short description

// Module will support headings h1 - h3 for SEO and maintain a consistent style
%article.body-article
  %h1 secondary header title for paragraph below
  %h2 secondary header title for paragraph below
  %h3 secondary header title for paragraph below
  %p Neutra flexitarian jean shorts meggings irony odd future, leggings squid aesthetic 8-bit. Leggings PBR swag readymade etsy mustache. Gastropub deep v put a bird on it, thundercats keytar pitchfork pop-up. Fixie 3 wolf moon letterpress, blue bottle selfies ethnic four loko deep v cliche.
  %p
    %a{:href => "#"} Example of body text link
