%hgroup
  %h1 PAGE HEADER TITLE (I.E, CONTACT)
  %h4 Page subheader title, short description.

%hgroup
  %h2 DETAIL PAGE HEADER TITLE (I.E, “CHEFSTEPS”)
  %h5 Detailed page short description

.blog-hgroup
  %span 1.1.13
  %h1 Artifex Press Launches Digital Catalogues Raisonnés Platform
  %h5
    by
    %a{:href => "/"} this person