%div.dashboard-wrapper
  - @presenter.categories.each do |category|
    %div
      %h4= category.display_name
      - category.files.each do |file|
        %ul
          %li= link_to file.display_name, admin_styleguide_example_path(:example => file.slug)
