%header.toadstool_header
  %h1 grids

= render :partial => "admin/styleguide/grids/use_definition"

%article.element_example.col_12_grid.shift
  %ul
    %li.grid-1 1 col
    %li.grid-11 11 col
  %ul
    %li.grid-2 2 col
    %li.grid-10 10 col
  %ul
    %li.grid-3 3 col
    %li.grid-9 9 col
  %ul
    %li.grid-4 4 col
    %li.grid-8 8 col
  %ul
    %li.grid-5 5 col
    %li.grid-7 7 col
  %ul
    %li.grid-6 6 col
    %li.grid-6 6 col
  %ul
    %li.grid-7 7 col
    %li.grid-5 5 col
  %ul
    %li.grid-8 8 col
    %li.grid-4 4 col
  %ul
    %li.grid-9 9 col
    %li.grid-3 3 col
  %ul
    %li.grid-10 10 col
    %li.grid-2 2 col
  %ul
    %li.grid-11 11 col
    %li.grid-1 1 col
  %ul
    %li.grid-12 12 col
%article.element_example.col_10_grid
  %ul
    %li.grid-1 1 col
    %li.grid-9 9 col
  %ul
    %li.grid-2 2 col
    %li.grid-8 8 col
  %ul
    %li.grid-3 3 col
    %li.grid-7 7 col
  %ul
    %li.grid-4 4 col
    %li.grid-6 6 col
  %ul
    %li.grid-5 5 col
    %li.grid-5 5 col
  %ul
    %li.grid-6 6 col
    %li.grid-4 4 col
  %ul
    %li.grid-7 7 col
    %li.grid-3 3 col
  %ul
    %li.grid-8 8 col
    %li.grid-2 2 col
  %ul
    %li.grid-9 9 col
    %li.grid-1 1 col
  %ul
    %li.grid-10 10 col
    %li.grid-11 11 col
    %li.grid-12 12 col
%article.element_example.col_4_grid
  %ul
    %li.grid-1 1 col
    %li.grid-3 3 col
  %ul
    %li.grid-2 2 col
    %li.grid-2 2 col
  %ul
    %li.grid-3 3 col
    %li.grid-1 1 col
  %ul
    %li.grid-4 4 col
    %li.grid-5 5 col
    %li.grid-6 6 col
    %li.grid-7 7 col
    %li.grid-8 8 col
    %li.grid-9 9 col
    %li.grid-10 10 col
    %li.grid-11 11 col
    %li.grid-12 12 col

= render :partial => "admin/styleguide/grids/grid_arguments"
