%header.toadstool_header
  %h1 modules

= render :partial => 'admin/styleguide/example_list', :locals => { :presenter => @presenter }

.markdown-content
  :markdown
    #{File.new(File.join(Rails.root,'app/views/application/modules/readme.md')).read}
